# CORS 
CORS_ORIGIN=http://localhost:3000

MYSQL_CONNECTION_STRING=mysql://user:password@localhost:3306/dbname

# openssl rand -hex 32
JWT_SECRET=yoursupersecretkeythatyoucanchangeandmustbe32characterslong
